name: Publish Package

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: https://registry.npmjs.org

      - uses: pnpm/action-setup@v4
      - run: pnpm install --frozen-lockfile

      # Ensure npm 11.5.1 or later is installed
      - name: Ensure npm supports trusted publishing
        run: npm install -g npm@latest

      - name: Publish to npm
        run: npm publish --registry=https://registry.npmjs.org
